body {
	padding-top: 50px;
}

.container {
	width: 1024px;
}


.questionContent {
	width: 960px;
	margin: auto 0;
}

.choices {
	list-style-type: none;
}

.choices li {
	line-height: 60px;
	font-size: 22px;
}

.choice {
	position: relative;
	display: inline;
	z-index: 99;
	font-size: 22px;
	margin: 0px 20px 10px 0px !important;

}

.tools a {
	font-size: 18px;
	padding-right: 20px;
}

.tools a:hover {
	text-decoration: none;
	color: #666;
}

.tools .selectedTool {
	color: #666;
	font-weight: bold;
}

.tools .selectedTool	:hover {
	text-decoration: none;
}
